In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 22BD-1335

 Directory of C:\Users\Aleja\Desktop\learnPython\NBA-Visualization

03/26/2018  07:35 PM    <DIR>          .
03/26/2018  07:35 PM    <DIR>          ..
03/26/2018  07:35 PM    <DIR>          .ipynb_checkpoints
03/26/2018  06:11 PM             1,326 app.py
03/26/2018  07:35 PM                72 csv_to_sql.ipynb
03/26/2018  06:16 PM           412,777 NBA.csv
03/26/2018  07:00 PM             8,192 NBA.db
03/26/2018  07:19 PM             8,720 NBA.db-journal
03/26/2018  06:11 PM               800 README.md
03/26/2018  06:32 PM            33,808 result.csv
03/26/2018  06:11 PM    <DIR>          templates
               7 File(s)        465,695 bytes
               4 Dir(s)  175,329,902,592 bytes free

In [3]:
nba = pd.read_csv('NBA.csv')

In [4]:
nba.head()

,Season,Type,PLAYER,SAL,TEAM,AGE,GP,W,L,MIN,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2017,Regular,AJ Hammons,650000,DAL,24,22,4,18,163,...,36,4,10,1,13,21,129.2,0,0,-5
1,2017,Regular,Aaron Brooks,2700000,IND,32,65,36,29,894,...,69,125,66,25,9,93,628.3,0,0,-33
2,2017,Regular,Aaron Gordon,4351320,ORL,21,80,29,51,2298,...,405,150,89,65,40,172,1956.0,7,0,-162
3,2017,Regular,Adreian Payne,2022240,MIN,26,18,5,13,135,...,33,7,8,8,7,32,150.1,0,0,10
4,2017,Regular,Al Horford,26540100,BOS,31,68,46,22,2193,...,465,337,115,52,86,138,2314.5,8,0,215

In [5]:
import sqlite3
conn = sqlite3.connect('nba2.db')

In [6]:
nba.to_sql("nba", conn, index=False)

In [7]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 22BD-1335

 Directory of C:\Users\Aleja\Desktop\learnPython\NBA-Visualization

03/26/2018  07:38 PM    <DIR>          .
03/26/2018  07:38 PM    <DIR>          ..
03/26/2018  07:35 PM    <DIR>          .ipynb_checkpoints
03/26/2018  06:11 PM             1,326 app.py
03/26/2018  07:37 PM             8,478 csv_to_sql.ipynb
03/26/2018  06:16 PM           412,777 NBA.csv
03/26/2018  07:00 PM             8,192 NBA.db
03/26/2018  07:19 PM             8,720 NBA.db-journal
03/26/2018  07:38 PM           389,120 nba2.db
03/26/2018  06:11 PM               800 README.md
03/26/2018  06:32 PM            33,808 result.csv
03/26/2018  06:11 PM    <DIR>          templates
               8 File(s)        863,221 bytes
               4 Dir(s)  175,328,788,480 bytes free