In [1]:
import pandas as pd
from flask import Flask, render_template, jsonify

In [2]:
df = pd.read_csv('NBA.csv')
Data =

In [3]:
df.head()

,Season,Type,PLAYER,SAL,TEAM,AGE,GP,W,L,MIN,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2017,Regular,AJ Hammons,650000,DAL,24,22,4,18,163,...,36,4,10,1,13,21,129.2,0,0,-5
1,2017,Regular,Aaron Brooks,2700000,IND,32,65,36,29,894,...,69,125,66,25,9,93,628.3,0,0,-33
2,2017,Regular,Aaron Gordon,4351320,ORL,21,80,29,51,2298,...,405,150,89,65,40,172,1956.0,7,0,-162
3,2017,Regular,Adreian Payne,2022240,MIN,26,18,5,13,135,...,33,7,8,8,7,32,150.1,0,0,10
4,2017,Regular,Al Horford,26540100,BOS,31,68,46,22,2193,...,465,337,115,52,86,138,2314.5,8,0,215

In [4]:
colorlist = []
for team in df["TEAM"]:
    if team == "GSW":
        colorlist.append("rgb(0, 107, 182)")
    else:
        colorlist.append("rgb(255, 0, 0)")
df['COLOR'] = colorlist

df["hovertext"] = df["PLAYER"] + " (" + df["TEAM"] + ")"

In [5]:
app = Flask(__name__)

In [6]:
@app.route("/")
def home():
    """Render Home Page."""
    return render_template("indexb.html")

In [7]:
@app.route("/nbaseason/<year>/<gtype>")
def nbaseason(year, gtype):

    tempdf = df[(df['Season']==int(year)) & (df['Type']==gtype)]
    tempdf = tempdf.reset_index(drop=True)
    tempdf.to_csv('result.csv')
    
    x = tempdf['PLAYER'].values.tolist()
    y = tempdf['PTS'].values.tolist()
    hovertext = tempdf['hovertext'].values.tolist()    
    color = tempdf['COLOR'].values.tolist()   
    if gtype == 'Regular':
        size = (tempdf['PTS']/20).values.tolist()
    else:
        size = (tempdf['PTS']/5).values.tolist()

    data = {"x": x, "y": y, "hovertext": hovertext, "mode": "markers", "marker": {"color": color, "size": size}}

    tempdf = df.iloc[0:0]
    x = []
    y = []
    hovertext = []
    color = []
    size = []

    return jsonify(data)

In [ ]:
if __name__ == '__main__':
    app.run(debug=True)